{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  {% block content %}
<h1 class="text-center">Information about crew members</h1>
<div class="container">
	<div class="row">
		<div class="col-md-9">
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
        <th>Name</th>
        <th>Year of birth</th>
        <th>Address</th>
        <th>Functions</th>
         <th>Experience</th>
      </tr>
    </thead>
           <tbody>
        <td>{{crew_member.names}}</td>
        <td>{{crew_member.year_of_birth}}</td>
        <td>{{crew_member.address}}</td>
        <td>{{crew_member.functions}}</td>
        <td>{{crew_member.experience}}</td>
    </tbody>
  </table>
  </div>
  </div>
</div>
  {% endblock %}
</body>
</html>



