{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-sec">
        <h2> Form for change helicopter</h2>
            <form method="POST" action="/edit_helicopter" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="form.id" hidden value="{{c.id}}"/>
                <p>
                    <label>Type helicopter:</label><br>
                    <input type="text" name="form.type_helicopter" value="{{c.type_helicopter}}"/>
                </p>
                <p>
                    <label>Year of production:</label><br>
                    <input  type="text" name="form.production_date" value="{{c.production_date|date:'Y-m-d'}}"/>
                </p>
                <p>
                    <label>Carrying:</label><br>
                    <input type="text" name="form.carrying" value="{{c.carrying}}"/>
                </p>
                <p>
                    <label>Date of last repair:</label><br>
                    <input type="text" name="form.date_of_last_repair" value="{{c.date_of_last_repair|date:'Y-m-d'}}"/>
                </p>
                <p>
                    <label>Time resource until the next major overhaul:</label><br>
                    <input type="text" name="form.time_resource_until_the_next_major_overhaul" value="{{c.time_resource_until_the_next_major_overhaul|date:'Y-m-d'}}"/>
                </p>
            </div>
            <button type="submit" class="btn btn-outline-secondary" class="btn btn-default">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}