{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-sec">
        <h2> Form for change crew member</h2>
            <form method="POST" action="/edit_crew_member" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="form.id" hidden value="{{c.id}}"/>
                <p>
                    <label>Names:</label><br>
                    <input type="text" name="form.names" value="{{c.names}}"/>
                </p>
                <p>
                    <label>Year of birth:</label><br>
                    <input  type="text" name="form.year_of_birth" value="{{c.year_of_birth|date:'Y-m-d'}}"/>
                </p>
                <p>
                    <label>Address:</label><br>
                    <input type="text" name="form.address" value="{{c.address}}"/>
                </p>
                <p>
                    <label>Functions:</label><br>
                    <input type="text" name="form.functions" value="{{c.functions}}"/>
                </p>
                <p>
                    <label>Experience:</label><br>
                    <input type="text" name="form.experience" value="{{c.experience|date:'Y-m-d'}}"/>
                </p>
            </div>
            <button type="submit" value="Submit" class="btn btn-outline-secondary" class="btn btn-default">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}