{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  {% block content %}
<h1 class="text-center">Information about helicopters</h1>
<div class="container">
	<div class="row">
		<div class="col-md-9">
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
        <th>Type helicopter</th>
        <th>Year of production</th>
        <th>Carrying</th>
        <th>Date of last repair</th>
         <th>Time resource until the next major overhaul</th>
      </tr>
    </thead>
           <tbody>
        <td>{{helicopter.type_helicopter}}</td>
        <td>{{helicopter.production_date}}</td>
        <td>{{helicopter.carrying}}</td>
        <td>{{helicopter.date_of_last_repair}}</td>
        <td>{{helicopter.time_resource_until_the_next_major_overhaul}}</td>
    </tbody>
  </table>
  </div>
  </div>
</div>
  {% endblock %}
</body>
</html>



