{% extends "noteKeeper_register/base.html" %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Text</td>
            <td>
                <a href="{% url 'note_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for note in note_list %}
            <tr>
                    <td>{{note.title}}</td>
                    <td>{{note.body}}</td>
                    <td>
                        <a href="{% url 'note_update' note.id %}" class="btn text-secondary px-0">
                            <i class = "far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'note_delete' note.id %}" method="post" class="d-inline">
                             {% csrf_token %}
                             <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </td>
            </tr>
         {% endfor %}
    </tbody>
</table>


{% endblock content %}
